/*  IMPORT DE FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CLASES GENERALES */
.btn-color-enviar,
.btn-color-2,
.btn-redes,
.btn.btn-primary.tipo-texto,
.card .btn {
  background-color: #f25c54;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btn-color-enviar:hover,
.btn-color-2:hover,
.btn-redes:hover,
.btn.btn-primary.tipo-texto:hover {
  background-color: #e63946;
  box-shadow: 0 4px 16px #ff1201;
}

body,
.container,
.container-fluid,
.mainContacto,
.main-ajustado,
.main-iniciar-sesion,
.video-container,
.galeria-paleta {
  background-color: #000;
  color: #fff;
}

h1,
h2,
h3,
.titulo,
.btn,
.card-title,
.tipo-texto {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* NAVBAR */
.navbar img {
  width: 150px;
  height: 150px;
}

.navbar-footer-color {
  background-color: #1a1a1a;
}

.navbar-nav .nav-link {
  color: #f25c54;
}

.navbar-nav .nav-link:hover {
  color: #f67777;
}

.tipe-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navbar-toggler-icon {
  background-color: #f25c54;
  border-radius: 5px;
}

.navbar-toggler-icon:hover {
  background-color: #f67777;
}

/* MODAL */
.color-fondo {
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.color-texto {
  color: #ad3636;
  font-weight: 600;
}

.color-texto-inicio-sesion {
  color: white;
}

.btn-close {
  background-color: #ff0606;
  border-radius: 50%;
  padding: 0.5rem;
}

.modal-dialog {
  max-width: 500px;
}

/* FORMULARIOS */
.form-control,
.form-label {
  color: white;
}

.form-control {
  border: 2px solid #c0c0c0;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control.color-busq {
  background-color: #f25c54;
  color: #fff;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control.color-busq:focus {
  background-color: #f25c54;
  color: #fff;
  outline: none;
  box-shadow: 0 0 5px 2px #e63946;
}

/* CARRUSEL*/
#carouselExample {
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}

/* IMÁGENES Y MULTIMEDIA */
.tamanio img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  border: #ffba89;
}

img.rounded {
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

img.rounded:hover {
  box-shadow: 0 4px 16px #ff1201;
}

/* CONTENEDORES Y SECCIONES */
.container,
.container-fluid {
  padding: 30px;
  border-radius: 15px;
}

.logo-footer {
  max-width: 230px;
}

.body {
  padding-top: 176px;
  background-color: #000;
}

.mainContacto,
.main-ajustado,
.main-iniciar-sesion {
  margin-top: 90px;
  padding-top: 150px;
}

/* PÁGINAS ESPECIALES Y GALERÍA */
.galeria-paleta {
  padding-bottom: 40px;
}

.galeria-paleta img {
  border: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.galeria-paleta img:hover {
  transform: scale(1.05);
}

.paleta-des p {
  text-align: center;
  margin: 1em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.paleta-des ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.mapa-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.mapa-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.imagen-iniciar-sesion img {
  max-width: 100%;
  max-height: 486px;
  object-fit: contain;
}

/* CARDS */
.card {
  background-color: #2a2a2a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 16px #ff1201;
}

.card-title {
  color: #eaeaea;
  font-size: 1rem;
}

.card-text {
  color: #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.tamanio-tarjetas {
  width: 97vw;
  height: auto;
  padding: 10px;
}

/* PAGINACIÓN Y NAVEGACIÓN LATERAL */
.pagination .page-link {
  background-color: #f25c54;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease;
}

.pagination .page-link:hover,
.pagination .page-link.active {
  background-color: #e63946;
}

.nav.flex-column .nav-link {
  background-color: #1a1a1a;
  color: #f25c54;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.nav.flex-column .nav-link:hover {
  box-shadow: 0 4px 16px #ff1201;
}

/* TEXTOS Y ENCABEZADO */
body {
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
}

h1 {
  font-weight: 500;
  font-style: normal;
}

h2,
h3 {
  font-weight: 900;
  font-style: normal;
}

.titulo {
  color: #e63946;
}

.parrafo {
  font-size: 1.2rem;
  color: #e63946;
  font-family: "Poppins", sans-serif;
}

.estilo-img-personal {
  max-width: 250px;
  height: auto;
}

.color-personal {
  color: #000;
}

/* SECCIÓN DE COMENTARIOS */
.comment-section {
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  color: #fff;
}

.comment-box {
  background-color: #f25c54;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comment-box h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.texto-formulario {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #edfdfa;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* UTILIDADES */
.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .card-title {
    font-size: 1.3rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .navbar img {
    width: 150px;
  }
  #carouselExample {
    margin-top: 130px;
  }
}

@media (min-width: 992px) {
  .card-title {
    font-size: 1.4rem;
  }
  .card-text {
    font-size: 1.1rem;
  }
  #carouselExample {
    margin-top: 150px;
  }
}

@media (min-width: 1200px) {
  .card-title {
    font-size: 1.5rem;
  }
  .card-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 575.98px) {
  #carouselExample {
    margin-top: 100px;
  }
}
